name: Test CI/CD

on:
  push:
    branches:
      - main
jobs:
  read_the_file:
    runs-on: ubuntu-latest
    steps:
      - name: git clone
        uses: actions/checkout@v2
      - name: install node jobs
        uses: actions/setup-node@v6
      - name: node version
        run: node -v
      - name: read the html file
        run: cat index.html
      - name: change and read directory
        run: cat ./html/custom.html
      - name: install Nginx
        run: |
          chmod +x install_dependencies.sh
          ./install_dependencies.sh
      - name: test nginx
        run: curl -fsS http://localhost > /dev/null


