name: Test CI/CD

on:
  push:
    branches:
      - main
jobs:
  read_the_file:
    runs-on: ubuntu-latest
    steps:
      - name: git clone
        uses: actions/checkout@v2
      - name: install node jobs
        uses: actions/setup-node@v6
      - name: node version
        uses: node -v
      - name: read the html file
        run: cat index.html